.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.vtn{
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform : uppercase;
    transition: all .4s ease;
    border-radius: 10px;
}
.vtn-primary{
    background: var(--primary);
    color: var(--secondary);
}
.vtn-primary:hover{
    font-size: 17px;
    background: transparent;
    border-color: var(--primary) ;
    color: var(--primary);
}
.vtn-primary:active{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}
.vtn-secondary
{
    background: transparent;
    border-color: var(--primary) ;
    color: var(--primary);
    font-size: 18px;
}
.vtn-secondary:hover{
    font-size: 19px;
    background: var(--primary);
    color: var(--dark);
}
.vtn-secondary:active{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
}